<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital</title>
    <style>
      table, th, td { width:100%;border: 1px solid black;}
      th, td {padding: 15px;}
      table {max-width: 50%;margin-left: 25%;margin-right: 25%;}
    </style>
</head>
<body>
  <table style='margin-bottom: 2%;'>      
    <tr>
    <th style="background:rgb(136, 121, 104);">Главрач {{one.name}}: {{one.doctors}}</th>
    </tr>
  </table>
  {% for ss in d %}
    <table style='margin-bottom: 2%;'>
    <div>
      <tr>
        <th style="background:rgb(209, 168, 154);">Лечащий врач: {{ss.name}}</th>
      </tr>
      <tr>
        <td>Специальность: {{ss.position}}</td>
      </tr>
      <tr>
        <td>Тел.номер врача: {{ss.phone}}</td>
      </tr>
        <tr>
        <td>Опыт работы: {{ss.birthdate}}</td>
      </tr>
        <tr>
        <td>Заместитель: {{ss.nurse}}</td>
      </tr>
      <tr>
        <td>Тел.номер заместителя: {{ss.nurse.phone}}</td>
      </tr>
      <tr>
        <td>Пациентов в очереди: {{ss.counts.count}}</td>
      </tr>
    </div>
    </table>
  {% endfor %}
</body>
</html>